.header {
    padding-top: 15px;
    padding-inline: 15px;
    background-color: #fff;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px; /* Чтобы не выходило за границы */
        width: calc(100% - 30px); /* Растягиваем на всю ширину экрана */
        height: calc(100% - 15px);
        max-width: 1110px;
        background-color: #140f13; /* Черный фон */
        z-index: 1;
        border-radius: 53px 0 0 0;
    }

    @media (max-width: 990px) {
        .language-selector {
            display: none;
        }
    }

    .container {
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        padding-left: 0px;
        background-color: #fff;

        @media (max-width: 576px) {
            gap: 60px;
        }
    }

    &__logo {
        position: relative;
        z-index: 2;
        text-align: center;
        background-color: #140f13;

        img {
            max-width: 250px;
            width: 100%;
            z-index: 10;
            position: relative;

            @media (max-width: 576px) {
                max-width: 200px;
            }
        }

        // &::before {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     background-color: #140f13;
        //     width: calc(100% + 30px); /* Растягиваем за пределы логотипа */
        //     height: 100%;
        //     z-index: 1;
        //     border-radius: 53px 0 0 0;
        // }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 0;
            height: 0;
            border-width: 74px 0px 0px 74px; /* верх, справа, низ, слева */
            border-style: solid;
            border-color: transparent transparent transparent #140f13;
        }
    }

    &__list {
        display: flex;
        gap: 30px;

        a {
            font-size: 18px;
            font-weight: 500;
        }

        @media (max-width: 990px) {
            display: none;
        }
    }

    &__btn {
        display: none;

        @media (max-width: 990px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
