.partners {
    padding: 60px 0;

    .container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 45px 90px;

        @media (max-width: 900px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(3, 1fr);

            gap: 30px;
        }
    }
}
